<div class="docs-header" id="content">
  <div class="container">
  	{% if page.title%}
  		<!--
		    <h1>{{ page.title }}</h1>
		    <p>Post on {{ page.date | date: "%b %d, %Y" }} by <a href="/about">{{ site.author }}</a></p>
		-->
		    <h1>{{ site.motto }}</h1>
    {% else %}
	    <h1>{{ site.name }}</h1>
	    <p>{{ site.description }}</p>
    {% endif %}
	   <a href="/" class="navbar-brand" style="float:right>
        <img src="{{ '/styles/images/index.jpg' | prepend: site.baseurl }}" style="border-radius:15px ;width:80px;">
      </a>
  </div>
	 
</div>
